

html, body {
    height: 100%;
  }

body
{
    display: flex;
    background: #aaa;
    color: #333;
    align-items: center;
    justify-content: center;
}

.masterbox
{
    display: flex;
    background-color: peachpuff;
    height: 600px;
    width: 1000px;
    border-radius: 10px;
}

.lbox
{
    display: flex;
    width: 400px;
    background-image: url(images/jellyfish.jpeg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}

.rbox
{
    width: auto;
    flex-grow: 1;
}